@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    border-radius: 7px;
    background-color: rgb(190, 190, 190);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.151);
}

header img {
    height: 100px;
}

nav img {
    height: 30px;
    transition: 0.2s;
    padding: 4px;
}

nav img:hover{
    transform: scale(1.2);

};
